.ctcWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 60px;
  align-items: center;
}

.ctcLeft {
  float: left; 
  width: 50%;
  padding: 10px;
  text-align: left;
}

.ctcRight {
  float: right;
  width: 50%;
  padding: 10px;
  text-align: left;
}